<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- fontawesome -->
<script src="/js/all.min.js"></script>
<script>
$(document).ready(function (){

     $(".table-data").DataTable({
     order:[0, 'asc'],

     pageLength: 50,

     })

})


</script>
</body>
</html>
