<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="icon" href="/project_files/imgs/Shopping.png" />
    <link rel="stylesheet" href="/css/datatables.min.css" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/all.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-4 fw-bold" href="/">Sell Goods</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">الرئيسية</a>
            </li>
            <li class="nav-item">
             
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                جملة
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" aria-current="page" href="/select-user-for-dealer-sell">بيع جملة</a></li>
                <li><hr class="dropdown-divider"></li>
                <li> <a class="dropdown-item" aria-current="page" href="/index-dealer">قائمة المنتجات جملة</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/add-user-dealer">اضافة عميل جملة</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/user-dealer-list">قائمة العملاء الجملة</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                الفواتير
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/search-for-bills">البحث عن الفواتير</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/bills-list">قائمة الفواتير</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                المنتجات
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/add">اضافة منتج</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/create-category">انشاء فئة</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">العربة
                <span style="color: #fff;background:#dc3539;" class="badge rounded-pill text-bg-danger"><%= totalProducts %></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/full-search">البحث الكامل</a>
            </li>
            

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                الباركود
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/search-by-barcode">البحث بالباركود</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" target="_blank" href="/create-barcode">انشاء باركود</a></li>
              </ul>
            </li>
            
            <% if(admin.manageAdmins){ %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  المديرين
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/admins-list">قائمة المديرين</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/create-admin">اضافة مدير</a></li>
                </ul>
              </li>
              <% } %>  
            <li class="nav-item">
              <span class="text-light nav-link fw-bold">مرحبا: <span class='text-danger'><%= admin.name %></span></span>
            </li>
            <li class="nav-item">
              <a class="btn ms-5 btn-outline-danger logout" href="/logout">تسجيل الخروج</a>
            </li>
            
          </ul>
          <!-- <form class="d-flex" method="get" action="/search">
            <input
              class="form-control me-2"
              type="search"
              name="name"
              placeholder="Product's Name"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button> -->
          </form>
        </div>
      </div>
    </nav>
    <script>
      let logout = document.querySelector('.logout')
      logout.addEventListener('click',(e) => {
      if (confirm("Do You Want To Logout") === true) {} 
      else {
      e.preventDefault();
      }})
    </script>
    <style>
      .a-hover:hover{
        color: #dc3545;
      }
    </style>
  </body>
</html>
