<%- include('./partials/head.ejs') %>

<div class="row w-100">
  <div class="col-lg-6 mx-auto mt-4">
    <div class="card shadow">
      <div class="card-header bg-primary">
        <h3 class="text-light">اضافة كرت جديد</h3>
      </div>
      <div class="card-body p-4">
        <form
          action="/repaingCard/add-repairing-card"
          method="post"
          id="add-reapiring-cart-form"
        >
          <div class="mb-3">
            <label class="fs-5" for="name">الاسم</label>
            <input
              type="text"
              name="name"
              class="form-control form-control-lg"
              placeholder="ادخل اسم المنتج"
              required
            />
          </div>
          <div class="mb-3">
            <label class="fs-5" for="damageName">اسم العطل</label>
            <input
              type="text"
              name="damageName"
              class="form-control form-control-lg"
              placeholder="ادخل اسم المنتج"
              required
            />
          </div>
          <div class="mb-3">
            <label class="fs-5" for="phoneNumber">رقم الهاتف</label>
            <input
              type="number"
              name="phoneNumber"
              class="form-control form-control-lg"
              placeholder="ادخل رقم الهاتف"
              required
            />
          </div>
          <input
            type="submit"
            value="اضافة كرت جديد"
            class="btn btn-primary btn-lg"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
