<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>إنشاء الباركود</title>
    <!-- Link Css File -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="/project_files/imgs/barcode-scanner.png" />
  </head>
  <body>
    <style>

    </style>
<div class="barcode-container"></div>

<script>
  let barcodeContainer = document.querySelector(".barcode-container");

  window.addEventListener("load", () => {
    JsBarcode("#barcode", Date.now(), {
      background: "#fff",
      color: "#000",
      height: 30,
      width:1,
      displayValue: true,
    });
  });

  barcodeContainer.innerHTML = `<svg id="barcode"></svg>`
</script>

<script src="/js/barcode.js"></script>

    
  </body>
</html>
