<%- include('./partials/head.ejs') %>

<div class="row w-100">
  <div class="col-lg-6 mx-auto mt-4">
    <div class="card shadow">
      <div class="card-header bg-primary">
        <h3 class="text-light">البحث عن الحسابات بالتاريخ</h3>
      </div>
      <div class="card-body p-4">
        <form action="/search-for-closing-account-result" method="get">
          <div class="mb-3">
            <label class="fs-5" for="name">من:</label>
            <input
              type="date"
              name="sDate"
              class="form-control form-control-lg"
              placeholder="ادخل التاريخ"
              required
            />
          </div>
          <div class="mb-3">
            <label class="fs-5" for="name">إلي:</label>
            <input
              type="date"
              name="eDate"
              class="form-control form-control-lg"
              placeholder="ادخل التاريخ"
              required
            />
          </div>

          <input type="submit" class="btn btn-primary btn-lg" />
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
